
/* ==========================================================================
		Few points to remeber for every CSS property
		+++++++++++++++++++++++++++++++++++++++++++++++
		• Default values for different elements
		• Different values that can be given
		• Does this property gets inherited?
		• Can they be applied to all elements?
		• Can they be animated?
	 ========================================================================== */
/*

Font related style properties
+++++++++++++++++++++++++++++++++++++++++++
~  font-style: normal | italic | oblique
		^ cite, em, i, address - for these elements the default font-style is italic
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ Can't animate

~  font-weight: normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
							700 is bold, 400 is normal
		^ h1, h2, h3, h4, h5, h6, strong, b - for these elements the default font-weight is bold or 700
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ Can't animate

~  font-size:
		^ px, %, em, rem, vw, vh
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ you can animate

~  line-height:
		^ px, %, em, rem, vw, vh
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ you can animate

~  font-family: serif;
		^ default font family is serif - which is normally "Times new roman"
		^ font stacks, 
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ Can't animate
Serif, Sans-serif, cursive, monospace

Shorthand property
~~   font: [font-style font-weight font-size/line-height font-family]

~  text-transform: none | uppercase | lowercase | capitalize
		^ default value is none
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ Can't animate

~  color:
		^ default value is black, "a" tag it is blue, 
			:visited link it purple, 
			:active link it is red
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ you can animate

color values can be applied in 4 diff formats
		colornames - eg. red; http://htmlcolorcodes.com/color-names/
		hex decimal codes - eg. #FF0000
    0 1 2 3 4 5 6 7 8 9 A B C D E F

    RR GG BB
    00 00 00 (Black) --> #000
    FF 00 00 (Red)   --> #F00
    00 FF 00 (Green) --> #0F0
    00 00 FF (Blue)  --> #00F
    FF FF FF (White) --> #FFF

			hex decimal shorthand property - eg. #F00
				#ff0011 -- #f01
				#aa2233 -- #a23
				#da1122 -- #da1122
				#fafafa -- #fafafa
				#fff222 -- #fff222

		rgb value - eg. rgb(255,0,0)
		rgba value - eg. rgba(255,0,0,1) - css3

~  text-decoration:none | underline | overline | line-through
		^ default value is none, only for 'a' tag you have underline
		^ This property gets inherited
		^ This property can be applied to all the elements
		^ Can't animate


• text-shadow – css3

auto;
inherit;


~  font-style: normal | italic | oblique
~  font-weight: normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900
~  font-size:
~  line-height:
~  font-family: serif;
~   font: [font-style font-weight font-size/line-height font-family]
~  text-transform: none | uppercase | lowercase | capitalize
~  color:
~  text-decoration:none | underline | overline | line-through
~  text-shadow – css3

*/

/* ==========================================================================
	 Demo of Font related properties
	 ========================================================================== */
	



.font-style-demo{
	font-style: italic;
}
.fs-oblique-demo{
	font-style: oblique 50deg;
}
.font-demo{
	font-family: 'Unlock', cursive;
	font-style: italic;
}
.fw1 {font-weight: 100;}
.fw2 {font-weight: 200;}
.fw3 {font-weight: 300;}
.fw4 {font-weight: 400;}
.fw5 {font-weight: 500;}
.fw6 {font-weight: 600;}
.fw7 {font-weight: 700;}
.fw8 {font-weight: 800;}
.fw9 {font-weight: 900;}


html{	
	font-size: 16px;
	font-family: 'Roboto', tahoma, sans-serif;
	font-weight: 300;
	line-height: 1.4;

	font: normal 300 16px/1.4 'Roboto', tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Noto Serif SC', Georgia, serif;
}




.dabba{
	border: 1px solid #000;
	padding: 20px;
	width: 800px;
	margin: 20px auto;
}

.em-demo {font-size: 2em;}
.em-demo p {font-size: .5em;}
.rem-demo {font-size: 2rem;}
.rem-demo p {font-size: .5rem;}

.vw-demo{
	width: 800px;
	padding: 20px;
	margin: 20px auto;
	border: 1px solid #000;
	font-size: 10vw;
	transition: 250ms ease all;
}
.vw-demo:hover{
	font-size: 12vw;
}



.vw-box{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.75);
}


.bg1 {background-color: lightgreen;border: 1px solid #000;}
.bg2 {background-color: lightblue;}

.lh-demo{
	font-size: 2em;
	line-height: 2;
	margin-top: 0;
	text-align: center;
}


.tt-demo{
	text-transform: uppercase;
}

.dabba h3{
	text-transform: uppercase;
}

.color-demo{
	color:rgba(50,250,50,.5)
}



.td-demo{
	text-decoration: underline overline line-through none;
}

.cd1{	color: indianred}
.cd2{ color:rgb(205,92,92)}
.cd3{ 
	color: #cd5c5c;
	transition: color 1000ms linear
}
.cd3:hover{ 
	color: #000;
	transition: color 1000ms linear
}
.cd4{ 
	color:rgba(205,92,92,.5);
	width: 400px;
	line-height: .3;
}


.widget{
	min-width: 300px;
	max-width: 450px;
	margin: 20px 40px 20px auto;
	border-radius: 10px;

	background-color: #8343f0;
}
.widget h1{
	background-color: rgba(0,0,0,.2);
	margin: 0 0 20px;
	color: #FFF;
	padding: 15px 20px;
	border-radius: 10px 10px 0 0;
}
.widget p{
	color: #FFF;
	padding: 15px 20px;
}
.widget footer{
	background-color: rgba(255,255,255,.2);
	color: #FFF;
	padding: 15px 20px;
	border-radius: 0 0 10px 10px;
}
